h1 {
  color: yellow;
}
hello-world::shadow div {
  color: red;
}

core-toolbar {
  background: #956;
}
core-icon {
  background: blue;
  width: 200px;
  height: 400px;
}

.example {
  background: #111;
  padding: 10px;
  height: 300px;
}

.example > div {
  background: red;
  margin: 10px;
}
.ripple {
  position: relative;
}

.our-shadow {
  display: inline-block;
}
